NET "CCLK" LOC = "p55";
#NET "led<0>" LOC = "p92";
#NET "led<1>" LOC = "p88";
#NET "led<2>" LOC = "p87";
#NET "led<3>" LOC = "p85";
#NET "led<4>" LOC = "p84";
#NET "led<5>" LOC = "p83";
#NET "led<6>" LOC = "p82";
#NET "led<7>" LOC = "p81";
#NET "led" LOC = "p82";
#NET "led2" LOC = "p81";
#NET "rxd" LOC = "p93";
#NET "txd" LOC = "p94";
NET "dig<0>" LOC = "p100";
NET "dig<1>" LOC = "p99";
NET "dig<2>" LOC = "p102";
NET "dig<3>" LOC = "p101";
NET "dig<4>" LOC = "p9";
NET "dig<5>" LOC = "p10";
NET "dig<6>" LOC = "p11";
NET "dig<7>" LOC = "p12";
NET "segm<0>" LOC = "p119";
NET "segm<1>" LOC = "p116";
NET "segm<2>" LOC = "p118";
NET "segm<3>" LOC = "p124";
NET "segm<4>" LOC = "p121";
NET "segm<5>" LOC = "p117";
NET "segm<6>" LOC = "p115";
NET "segm<7>" LOC = "p120";
NET "btn<0>" LOC = "p56" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "btn<1>" LOC = "p57" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "btn<2>" LOC = "p58" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "btn<3>" LOC = "p59" | CLOCK_DEDICATED_ROUTE = FALSE;
