NET "CCLK" LOC = "p55";
#NET "led<0>" LOC = "p92";
#NET "led<1>" LOC = "p88";
#NET "led<2>" LOC = "p87";
#NET "led<3>" LOC = "p85";
#NET "led<4>" LOC = "p84";
#NET "led<5>" LOC = "p83";
#NET "led<6>" LOC = "p82";
#NET "led<7>" LOC = "p81";
#NET "led" LOC = "p82";
#NET "led2" LOC = "p81";
#NET "rxd" LOC = "p93";
#NET "txd" LOC = "p94";
NET "digit<0>" LOC = "p100";
NET "digit<1>" LOC = "p99";
NET "digit<2>" LOC = "p102";
NET "digit<3>" LOC = "p101";
NET "digit<4>" LOC = "p9";
NET "digit<5>" LOC = "p10";
NET "digit<6>" LOC = "p11";
NET "digit<7>" LOC = "p12";
NET "segment<0>" LOC = "p119";
NET "segment<1>" LOC = "p116";
NET "segment<2>" LOC = "p118";
NET "segment<3>" LOC = "p124";
NET "segment<4>" LOC = "p121";
NET "segment<5>" LOC = "p117";
NET "segment<6>" LOC = "p115";
NET "segment<7>" LOC = "p120";
NET "btn_in<0>" LOC = "p56" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "btn_in<1>" LOC = "p57" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "btn_in<2>" LOC = "p58" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "btn_in<3>" LOC = "p59" | CLOCK_DEDICATED_ROUTE = FALSE;
NET "LED<7>"	LOC = "p81";
NET "LED<6>"	LOC = "p82";
NET "LED<5>"	LOC = "p83";
NET "LED<4>"	LOC = "p84";
NET "LED<3>"	LOC = "p85";
NET "LED<2>"	LOC = "p87";
NET "LED<1>"	LOC = "p88";
NET "LED<0>"	LOC = "p92";